.home {
  height: calc(100vh - 69px);
  text-align: center;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: #333;
  color: #fff;
}

.logo a {
  color: #fff;
  font-size: 24px;
  text-decoration: none;
}

.navLinks {
  display: flex;
  list-style-type: none;
  padding: 0;
}

.navItem {
  margin-left: 20px;
}

.navItem a {
  color: #fff;
  text-decoration: none;
}